head{
    margin: 0;
}

body{
    margin: 0;
}

nav{
  height: 100%;
}


ul {
    list-style-type: none; /*this make the bullets disapear*/
    padding: 10px 0px;
    margin: 0px;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    
    /*width: 25%;*/
    /*height: 100%;Full Height*/
    /*position: fixed;  Make it stick, even on scroll (it can be 'sticky' aswell) - the diff is that
    the element will sticky to the page when the page scrolls out of it (it needs to specify where to 
    sticky the element (top, right, bottom or left)*/
    /*overflow: auto;  Enable scrolling if the sidenav has too much content */
    overflow: hidden;
    /*border: 1px solid #555;*/
    background-color: #f1f1f1;
  }
  
  li{
    float: left;
    display: inline;
    text-align: center;
    /*border-right: 1px solid #555;*/
  }

  li:last-child{
    border-right: none;
    float: right;
  }

  li a{
    display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a.active {
    font-weight: bold;
    color: #DC143C;
  }

  li a:hover:not(.active){
    color: #FF0000;;
  }

  li.dropdown{
    display: inline-block;
  }

  .dropdown-content.whole-menu {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content.whole-menu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    for num in 1 2
      .dropdown_content-{num}
      animation: rotateX 300ms (num * 60ms) ease-in-out forwards
      transform-origin: top center;
  }

  .dropdown-content a:hover {
    color: #FF0000;;
  }

  .dropdown:hover .dropdown-content {
  display: block;
}


@keyframes rotateX {

  0% {

      opacity: 0;

      transform: rotateX(-90deg);

  }

  50% {

      transform: rotateX(-20deg);

  }

  100% {

      opacity: 1;

      transform: rotateX(0deg);

  }

}

@keyframes growDown {

  0% {

      transform: scaleY(0)

  }

  80% {

      transform: scaleY(1.1)

  }

  100% {

      transform: scaleY(1)

  }

}

  /*responsive stuff*/
  @media screen and (max-width: 810px) {
    li:last-child, 
    ul li {float: none;}    
  }